<div class="row">
    <div class="col-lg-6">
        <a href="../Usuario/Login" type="button" style="height:auto" class="btn btn-block btn-primary  " role=" button">Entrar no Sistema </a>
    </div>
    <div class="col-lg-6">
       <a href="../Usuario/Registrar" <button style="height:auto " type="button" class="btn btn-block btn-success">Registrar uma Conta</button> </a>
    </div>
  
</div>